.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#app {
    height: 100%;
    width: 100%;
}

.full {
    height: 100%;
}
.form {
    flex: auto;
}