.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#app {
    height: 100%;
    width: 100%;
}

.full {
    height: 100%;
}
.form {
    flex: auto;
}

.home {
    display: flex;
    height: 100%;
}

.main {
    flex: 1;
    height: 100%;
    padding: 2em 3em 0;
    overflow: scroll;
}

.sliderBar {
    flex: 0 0 25%;
    background-color: #3d4f5d;
    height: 100%;
}

.article {
    display: flex;
    flex-direction: column;
}

.header {
    height: 52px;
    position: fixed;
    width: 100%;
    background-color: rgba(225, 225, 225, 0.9);
}

.articleDisplay {
    margin-top: 60px;
    display: flex;
    flex: 1;
}

.left, .right {
    flex: 0 0 25%
}


.left {
    order: -1
}

.content {
    flex: 1;
    width: 50%;
    font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.homeContent {
    flex: 1;
    width: 70%;
    font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 3em;
}
