.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#app {
    height: 100%;
    width: 100%;
}

.full {
    height: 100%;
}
.form {
    flex: auto;
}

.home {
    display: flex;
    height: 100%;
}

.main {
    flex: 1;
    height: 100%;
}

.sliderBar {
    flex: 0 0 25%;
    background-color: #3d4f5d;
    height: 100%;
}

